menu "Time Tracker Device Configuration"

    # Include Feedback Tool Configuration
    source "$PROJECT_PATH/tools/feedback_tool/Kconfig"

    # Include RFID Tool Configuration
    source "$PROJECT_PATH/tools/rfid_tool/Kconfig"

    # Include Filesystem Tool Configuration
    source "$PROJECT_PATH/tools/fs_tool/Kconfig"

    # Include NTP Tool Configuration
    source "$PROJECT_PATH/tools/ntp_tool/Kconfig"

    # Include Payload Tool Configuration
    source "$PROJECT_PATH/tools/payload_tool/Kconfig"

    # Include Webhook Tool Configuration
    source "$PROJECT_PATH/tools/webhook_tool/Kconfig"

endmenu